<h1 class="font-bold text-3xl underline underline-offset-4 mb-2" >{{{title}}} </h1>
<h4 class="mb-8" >Members</h4>

<ul class="flex flex-col justify-center items-center" >
    {{#each members}}
        <li class="border-gray-700 border rounded text-left w-35 p-4 my-2 hover:bg-green-600 hover:cursor-pointer">{{this.name}}: {{this.email}} </li>
    {{/each}}
</ul>